body {
    font-size: 16px;
    font-family: monospace;
    line-height: 1.5em;
    background-color: #505050;
    color: #e3e2d6;
}

a { color: #72bf9d; }

.accent { color; #9dd8db; }
.center { text-align: center; }

.content {
    margin: 0 auto;
    text-align: justify;
    width: 30em;
    border-left: 3px solid #878782;
    padding-left: 10px;
}
